//
.svg-icon {
  position: relative;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  stroke: var(--brand-color);
  bottom: 0;
  transition: all 0.3s ease-in-out;
}

.svg-icon--btt {
  height: 2rem;
  width: 2rem;

  @include viewport-md {
    height: 3rem;
    width: 3rem;
  }
}

.svg-icon--nav {
  stroke: var(--main-text-color);
}

.icon-contact {
  color: var(--brand-color);
  font-size: 1.3rem;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
}

.svg-icon-item-list {
  stroke: var(--brand-color);
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.btn {
  display: inline-block;
  background-color: var(--brand-color);
  color: var(--white-color);
  border-radius: var(--border-radius-base);
  text-decoration: none;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #9a82d7;
}

.btn::first-letter {
  text-transform: uppercase;
}
