// contact
footer.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--hero-gradient-background);
  padding: 2rem 0;

  @include viewport-md {
    padding: 3rem 0;
  }
}

.contact__container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  @include viewport-md {
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
  }
}

.contact__item {
  background-color: var(--white-color);
  padding: 1rem;
  border-radius: var(--border-radius-base);
  flex: 1;
  margin-bottom: 0.5rem;

  @include viewport-md {
    margin-bottom: 0;
  }
}

.contact__item:nth-child(2) {
  margin-bottom: 0;
}

.list__item {
  color: var(--second-text-color);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
}

.list__item--email {
  text-transform: lowercase;
  font-weight: 500;
}

.contact__list {
  display: flex;
  align-items: center;

  h5 {
    padding-right: 0.5rem;
  }
}

.contact__list__item {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
}

.contact__list__link {
  display: flex;
  align-items: center;
  color: var(--brand-color);
}

//
.contact__coder-info {
  color: var(--second-text-color);
  font-size: 0.4rem;
  text-transform: lowercase;

  @include viewport-md {
    font-size: 0.8rem;
    padding: 1rem;
  }

  a {
    text-decoration: none;
    color: var(--second-text-color);
  }
}
