// footer contact
footer.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url("/src/img/webp/pattern-img.webp") repeat;
  padding: 5rem 0 3rem 0;

  @include viewport-md {
    padding: 3rem 0;
  }
}

footer.contact::before {
  position: absolute;
  content: "";
  inset: 0 0 0 0;
  background-color: var(--brand-color-opacity-90);
}

.contact__container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  @include viewport-md {
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
  }
}

.contact__item {
  position: relative;
  flex: 1;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: var(--border-radius-base);
  overflow: hidden;
  background-color: var(--white-color-opacity-85);

  @include viewport-md {
    margin-bottom: 0;
  }
}

.contact__item:nth-child(2) {
  background: url("/src/img/webp/frontalniJorgovan.webp") bottom right no-repeat
    var(--white-color-opacity-85);
  background-size: contain;
  margin-bottom: 0;
}

.list__item {
  position: relative;
  color: var(--main-text-color);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
}

.list__item--email-mb {
  margin-bottom: 1rem;
}

.list__item--email-text {
  text-transform: lowercase;
  font-weight: 500;
}

.contact__list__item {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
}

.contact__list__link {
  display: flex;
  align-items: center;
  color: var(--brand-color);
  margin-right: 5px;
}

.contact__coder-info {
  position: relative;
  width: 100%;
  padding: 1rem;
  color: var(--white-color);
  font-size: 0.5rem;
  text-transform: lowercase;
  text-align: left;

  @include viewport-md {
    font-size: 0.8rem;
    padding: 1rem;
  }

  a {
    text-decoration: none;
    color: var(--white-color);
  }
}
