// footer contact
footer.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--brand-color-opacity-90);
  padding: 5rem 0 3rem 0;

  @include viewport-md {
    padding: 3rem 0;
  }
}

.contact__container {
  display: flex;
  flex-direction: column;
  background-color: var(--second-light-grey);

  @include viewport-md {
    background: url("/src/img/webp/saEmocijamaNaTi-logo.webp") bottom right
      no-repeat;
    background-size: contain;
    background-color: var(--second-light-grey);
    flex-direction: row;
    border-radius: var(--border-radius-base);
    padding: 1rem;
  }
}

.contact__item {
  position: relative;
  flex: 1;
  padding: 1rem 0;
  background: none;
  overflow: hidden;

  @include viewport-md {
    padding: 1rem;
    margin-bottom: 0;
  }
}

.list__item {
  position: relative;
  color: var(--main-text-color);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  padding: 0 0 0.5rem 1rem;

  @include viewport-md {
    padding: 0 0 0.5rem;
  }
}

.list__item--email-mb {
  margin-bottom: 1rem;
}

.list__item--email-text {
  text-transform: lowercase;
  font-weight: 500;
}

.contact__list__item {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
}

.contact__list__link {
  display: flex;
  align-items: center;
  color: var(--brand-color);
  margin-right: 5px;
}

.contact__coder-info {
  position: relative;
  width: 100%;
  padding: 1rem;
  color: var(--white-color);
  font-size: 0.5rem;
  text-transform: lowercase;
  text-align: left;

  @include viewport-md {
    font-size: 0.8rem;
    padding: 1rem 0 0 0;
  }

  a {
    text-decoration: none;
    color: var(--white-color);
  }
}
