.header {
  width: 100%;
  position: relative;
}

.header.sticky {
  position: fixed;
  background-color: var(--brand-color);
  z-index: 20;
  transition: background 300ms ease-in;
  box-shadow: 0 0 3px #ddd;

  .nav-container {
    background-color: transparent;
  }

  .nav-list__link {
    color: var(--white-color);
  }

  .nav-list__link:hover {
    color: var(--main-text-color);
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 1rem;

  @include viewport-md {
    justify-content: space-around;
    background-color: var(--gradient-neutral-background);
    border-bottom-left-radius: var(--border-radius-base);
    border-bottom-right-radius: var(--border-radius-base);
    padding: 1rem 0;
  }
}

.header__nav {
  display: none;
  align-items: center;

  @include viewport-md {
    display: flex;
  }
}

.nav-list {
  display: flex;
  color: var(--main-text-color);
}

.nav-list__link {
  font-size: 0.9025rem;
  font-weight: 400;
  color: var(--main-text-color);
  padding-right: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s all ease-in-out;

  &:hover {
    color: var(--brand-color);
  }
}

.header-logo {
  position: relative;
}

.header-logo__link {
  display: flex;
  height: 60px;
  width: 60px;
}

// naigation btn for mobile
.nav-container__btn {
  display: flex;
  background-color: var(--white-color);
  border-radius: var(--border-radius-base);

  @include viewport-md {
    display: none;
  }
}

// navigation for mobile view
.nav-container-mobile {
  position: absolute;
  background: url("/src/img/webp/pupoljak.webp") no-repeat bottom right,
    url("/src/img/webp/pattern-img.webp") repeat;
  inset: 0 0 0 0;
  display: unset;
  transform: translate(100%, -100%);
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 21;
  transition: all 0.3s ease-in-out;
}

.nav-container-mobile::before {
  position: absolute;
  z-index: 0;
  content: "";
  inset: 0 0 0 0;
  background-color: var(--bg-color-opacity-1);
}

.nav-container-mobile.active {
  display: flex;
  transform: translate(0, 0);
}

.nav-container-mobile__link {
  position: relative;
  display: flex;
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--second-text-color);
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.nav-container-mobile__link:hover {
  color: var(--white-color);
}
