.header {
  width: 100%;
  position: relative;
}

.header.sticky {
  position: fixed;
  background-color: var(--brand-color);
  z-index: 20;
  transition: background 300ms ease-in;
  box-shadow: 0 0 3px #ddd;

  .nav-container {
    background-color: transparent;
  }

  .nav-list__link:link,
  .nav-list__link:visited {
    color: var(--white-color);
  }

  .nav-list__link:hover,
  .nav-list__link:active {
    color: var(--main-text-color);
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  @include viewport-md {
    background-color: var(--gradient-neutral-background);
    border-bottom-left-radius: var(--border-radius-base);
    border-bottom-right-radius: var(--border-radius-base);
    padding: 1rem 0;
  }
}

.header__nav {
  display: none;
  align-items: center;

  @include viewport-md {
    display: flex;
  }
}

.nav-list {
  display: flex;
  color: var(--main-text-color);
}

.nav-list__link {
  font-size: 1rem;
  font-weight: 400;
  padding-right: 1.5rem;
  text-decoration: none;
  text-transform: lowercase;
  transition: 0.3s all ease-in-out;

  &:link,
  &:visited {
    color: var(--main-text-color);
  }

  &:hover,
  &:active {
    color: var(--brand-color);
  }
  span {
    text-transform: capitalize;
  }
}

.nav-list__link::first-letter {
  text-transform: capitalize;
}

.header-logo {
  position: relative;
}

.header-logo__link {
  display: flex;
  height: 60px;
  width: 60px;
}

// naigation btn for mobile
.nav-container__btn {
  display: flex;
  background-color: var(--white-color);
  border-radius: var(--border-radius-base);

  @include viewport-md {
    display: none;
  }
}

// navigation for mobile view
.nav-container-mobile {
  inset: 0 0 0 0;
  display: unset;
  transform: translate(100%, -100%);
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 21;
  background-color: var(--brand-color);
  transition: all 0.3s ease-in-out;
}

.nav-container-mobile.active {
  display: flex;
  transform: translate(0, 0);
}

.nav-container-mobile__link {
  position: relative;
  display: flex;
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: lowercase;
  padding-bottom: 1rem;

  span {
    text-transform: uppercase;
  }
}
.nav-container-mobile__link:link,
.nav-container-mobile__link:visited {
  color: var(--main-text-color);
}

.nav-container-mobile__link:hover,
.nav-container-mobile__link:active {
  color: var(--white-color);
}
