.main {
  position: relative;
  background: url("/src/img/webp/pupoljak.webp") bottom right no-repeat,
    url("/src/img/webp/pattern-img.webp") bottom right repeat;

  @include viewport-md {
    background: url("/src/img/webp/pupoljak.webp") bottom left no-repeat,
      url("/src/img/webp/cvetic.webp") bottom right no-repeat,
      url("/src/img/webp/pattern-img.webp") bottom right repeat;
  }
}

.main::before {
  position: absolute;
  content: "";
  inset: 0 0 0 0;
  background-color: var(--bg-color-opacity-1);
}

.hero {
  position: relative;
}

.hero-container {
  display: flex;
  height: calc(100vh - var(--headerHeight));
  justify-content: center;
  align-items: center;

  @include viewport-md {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.hero-container__content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: url("/src/img/webp/marina-in-white.webp") no-repeat bottom right;
  background-size: contain;
  background-color: var(--white-color-opacity-85);

  @include viewport-md {
    background: none;
    background-color: transparent;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
}

.hero-container__item {
  display: flex;
}

.hero-container__item:nth-child(1) {
  position: relative;

  @include viewport-md {
    background-color: var(--white-color);
    display: flex;
    box-shadow: 1px 1px 3px #ddd;
    border-radius: var(--border-radius-base);
    overflow: hidden;
  }
}

.hero-container__item:nth-child(2) {
  position: relative;

  @include viewport-md {
    width: 55%;
    background: url("/src/img/webp/pupoljakSaLevaNaDesno.webp") bottom left
      no-repeat;
    background-color: var(--white-color);

    bottom: 25px;
    box-shadow: 1px 1px 3px #ddd;
    border-radius: var(--border-radius-base);
    overflow: hidden;
  }
}

.hero-container__img {
  display: none;
  @include viewport-md {
    display: flex;
    width: 25vw;
  }
}

h1.hero-container__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-family: var(--primary-font-family);
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 2rem 0 2rem 1rem;
  transition: all 0.2s ease-in-out;

  @include viewport-md {
    font-weight: 700;
    line-height: 1.2;
    font-size: 2.1rem;
  }
}

.main__title--block {
  display: block;
  color: var(--brand-color);
}

// about
.about {
  position: relative;
  @include viewport-md {
    background: url("/src/img/webp/procvetali-jorgovani.webp") no-repeat bottom
        left,
      url("/src/img/webp/pattern-img.webp") repeat;
  }
}

.about::before {
  position: absolute;
  content: "";
  inset: 0 0 0 0;
  background-color: var(--bg-color-opacity-2);
}

.about-container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 3px #ddd;

  @include viewport-md {
    flex-direction: row-reverse;
    border-radius: var(--border-radius-base);
    overflow: hidden;
  }
}

.about-container__item--img {
  position: relative;
  background-color: var(--main-light-grey);
}

.about-container__item--text {
  padding: 1rem;
  background-color: var(--white-color);

  @include viewport-md {
    background-color: var(--white-color-opacity-85);
  }
}

.about-info-link {
  display: inline-block;
  text-decoration: none;
  color: var(--brand-color);
}

// program
.program {
  position: relative;
  background-color: var(--main-light-grey);
  overflow: hidden;

  @include viewport-md {
    background: url("/src/img/webp/pupoljak.webp") no-repeat bottom right,
      url("/src/img/webp/pattern-img.webp") repeat;
  }
}

.program::before {
  position: absolute;
  content: "";
  inset: 0 0 0 0;

  @include viewport-md {
    background-color: var(--bg-color-opacity-1);
  }
}

.program-container {
  display: flex;
  flex-wrap: wrap;
}

.program-container__item {
  position: relative;

  @include viewport-md {
    margin-bottom: 8rem;
    background: url("/src/img/webp/cvetic.webp") no-repeat bottom right;
  }
}

.item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 3px #ddd;

  @include viewport-md {
    border-radius: var(--border-radius-base);
    overflow: hidden;
    flex-direction: row;
  }
}

.item-container--text {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--white-color-opacity-85);
  padding: 0 1rem 1rem 1rem;
  flex: 1 1 60%;

  @include viewport-md {
    padding: 1rem;
  }
}

.item-container-list {
  display: block;
  padding: 0 0 2rem 1rem;
  list-style: disc;
}

.item-container-list__item {
  color: var(--main-text-color);
  line-height: 1.6;

  @include viewport-md {
  }
}

.item-container-list__item--inportant-color {
  color: var(--brand-color);
  font-weight: 600;
}

.item-container--img {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 1rem;
  // background-color: var(--bg-color-1);

  @include viewport-md {
    width: 25vw;
    background-color: var(--main-light-grey);
  }
  @include viewport-ld {
    width: 15vw;
  }
}

// fade in effect
.fade-in {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.fade-in.appear {
  opacity: 1;
}

//
.from-left {
  transform: translateX(-50%);
}

.from-right {
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

////////////////////
// BTT
.back-to-top-container {
  position: relative;
  cursor: pointer;
  display: none;
  background-color: var(--main-light-grey);
  box-shadow: 1px 1px 5px #ddd;
  position: fixed;
  padding: 10px;
  bottom: 25px;
  margin: 5px;
  z-index: 1;
  right: 10px;
  border-radius: var(--border-radius-base);
  transition: all 0.3s ease-in-out;

  @include viewport-ld {
    transform: none;
    right: 10px;
  }
}

.back-to-top-container:hover {
  background-color: var(--brand-color);

  .svg-icon {
    stroke: var(--white-color);
    bottom: 3px;
  }
}
