.main {
  position: relative;
  background: var(--hero-gradient-background);

  @include viewport-md {
    background: none;
  }
}

.hero {
  position: relative;
}

.hero-container {
  display: flex;
  height: calc(100vh - var(--headerHeight));
  justify-content: center;
  align-items: flex-end;

  @include viewport-md {
    align-items: center;
  }
}

.hero-container__content {
  display: flex;
  flex-direction: column;

  @include viewport-md {
    flex-direction: row;
    background: var(--hero-gradient-background);
    box-shadow: 1px 1px 3px #ddd;
    border-radius: var(--border-radius-base);
    overflow: hidden;
  }
}

.hero-container__item {
  display: flex;
  flex: 1;
}

.hero-container__item:nth-child(1) {
  position: relative;
}
.hero-container__item:nth-child(2) {
  background-color: var(--white-color);
}

h1.hero-container__title {
  font-family: var(--primary-font-family);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-size: 1.8rem;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  padding: 1rem;

  @include viewport-md {
    font-size: 3rem;
  }
}

.hero-container__img {
  @include viewport-md {
    width: 30vw;
  }
}

.main__title--block {
  display: block;
  // background: var(--hero-gradient-background);
  // -webkit-text-fill-color: transparent;
  // -webkit-background-clip: text;
  // background-clip: text;
  color: var(--brand-color);
}

// about
.about-container {
  display: flex;
  flex-direction: column;
  background: var(--hero-gradient-background);
  box-shadow: 1px 1px 3px #ddd;

  @include viewport-md {
    flex-direction: row;
    border-radius: var(--border-radius-base);
    overflow: hidden;
  }
}

.about-container__item {
  flex: 1;
}

.about-container__item--img {
  position: relative;
}

.about-container__item--text {
  padding: 1rem;
  background-color: var(--white-color);
}

// program
.program-container {
  display: flex;
  flex-wrap: wrap;
}

.program-container__item {
  margin-bottom: 1rem;

  @include viewport-md {
    margin-bottom: 3rem;
  }
}

.item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--hero-gradient-background);
  margin-bottom: 5rem;
  box-shadow: 1px 1px 3px #ddd;

  @include viewport-md {
    border-radius: var(--border-radius-base);
    overflow: hidden;
    flex-direction: row;
  }
}

.item-container--text {
  position: relative;
  background-color: var(--white-color);
  padding: 1rem;
  flex: 1 1 60%;

  display: flex;
  flex-direction: column;
}

.item-container--img {
  width: 100vw;

  @include viewport-md {
    position: relative;
    width: 13vw;
  }
}

.img--position {
  position: absolute;
  bottom: 0;
}

////////////////////
// BTT
.back-to-top-container {
  position: relative;
  cursor: pointer;
  display: none;
  background-color: var(--main-light-grey);
  box-shadow: 1px 1px 5px #ddd;
  position: fixed;
  padding: 10px;
  bottom: 25px;
  margin: 5px;
  z-index: 20;
  right: 10px;
  // right: 50%;
  // transform: translateX(50%);
  border-radius: var(--border-radius-base);
  transition: all 0.3s ease-in-out;

  @include viewport-md {
    transform: none;
    right: 10px;
  }
}

.back-to-top-container:hover {
  background-color: var(--brand-color);

  .svg-icon {
    stroke: var(--white-color);
    bottom: 3px;
  }
}
