.emotion {
  padding: 3rem 0 6rem 0;
}
/* Basic styling for the slides */
.swiper-slide {
  display: flex;
  justify-content: center;
  background-color: var(--white-color);
  padding: 2rem 1rem;
  box-shadow: 1px 0 3px #ddd;

  @include viewport-md {
    align-items: center;
    border-radius: var(--border-radius-base);
    padding: 1rem 3rem 2rem 3rem;
  }
}

.carousel__caption {
  display: flex;
  position: relative;
  color: var(--second-text-color);
  padding: 0 0 1rem 0;
  letter-spacing: 1px;
  line-height: 1.3;
  font-size: 1rem;

  @include viewport-md {
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 1rem;
  }

  p::first-letter {
    text-transform: uppercase;
  }

  span {
    font-style: italic;
    font-weight: 400;
    color: var(--brand-color);
  }
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
  color: var(--second-text-color);

  &:hover {
    color: var(--brand-color);
  }

  @include viewport-md {
    display: flex;
  }
}

.swiper-pagination-progressbar {
  background: var(--main-light-grey);
  height: 3px;
  .swiper-pagination-progressbar-fill {
    background-color: var(--brand-color);
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background-color: var(--brand-color);
}
