.h2-heading {
  position: relative;
  font-family: var(--secondery-font-family);
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 1rem;
  background-color: var(--white-color);
  color: var(--brand-color);

  @include viewport-md {
    background-color: transparent;
    color: var(--second-text-color);
    padding: 0 0 1rem 0;
    font-size: 1.5rem;
  }
}

.h3-heading {
  font-family: var(--secondery-font-family);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--second-text-color);

  @include viewport-ld {
    font-size: 1.1rem;
  }
}

.h3-heading--desktop {
  display: flex;
  padding: 1rem 0 1rem 0;
  border-bottom: 3px solid var(--second-text-color);

  @include viewport-md {
    display: inline-block;
    width: 30%;
  }
}

.h4-heading {
  font-family: var(--secondery-font-family);
  color: var(--brand-color);
  position: relative;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 1rem 0;
}

.h5-heading--contact-color {
  text-transform: uppercase;
  color: var(--brand-color);
  font-weight: 700;
  padding-bottom: 1rem;
}

.h5-heading--small {
  font-weight: 600;
  padding: 0 0.5rem 0 0;
}

.h5-heading--small::first-letter {
  text-transform: uppercase;
}

.h5-heading {
  display: flex;
  align-items: center;
  position: relative;
  color: var(--brand-color);
  font-family: var(--secondery-font-family);
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;

  @include viewport-md {
    font-weight: 700;
    padding: 0.5rem 0.5rem 0.5rem 0;
  }
}

.h5-heading--bold {
  font-weight: 700;
  color: var(--second-text-color);
}

.h5-heading--price {
  font-weight: 700;
  color: var(--brand-color);
}

.defoult-text {
  line-height: 1.5;
  text-wrap: pretty;
  padding: 1rem 0;
}

.defoult-text--about:first-child {
  text-indent: 5px;
}

.defoult-text--bb {
  border-bottom: 1px solid #ddd;
}

.defoult-text--footer {
  background-color: var(--white-color-opacity-85);
  padding: 1rem;
  box-shadow: 0 0 3px #ddd;
  border-radius: var(--border-radius-base);
  overflow: hidden;
}
