.h2-heading {
  position: relative;
  font-family: var(--secondery-font-family);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 1rem;
  background-color: var(--white-color);
  color: var(--brand-color);
  border-bottom: 3px solid var(--brand-color);

  @include viewport-md {
    background-color: transparent;
    color: var(--main-text-color);
    padding: 0 0 1rem 0;
    font-size: 1.5rem;
    border-bottom: none;
  }
}

.h2-heading--contact-color {
  background-color: transparent;
  color: var(--main-text-color);
}

.h2-heading--nbb {
  border-bottom: none;
}

.h3-heading {
  position: relative;
  font-family: var(--secondery-font-family);
  font-size: 0.8rem;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--brand-color);

  @include viewport-ld {
    font-size: 1.1rem;
  }
}

.h3-heading--desktop {
  position: relative;
  display: flex;
  padding: 1em 0 0.5rem 0;

  @include viewport-md {
    display: inline-block;
    width: 40%;
  }
}

.h3-heading--desktop::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--brand-color);
}

.h4-heading {
  font-family: var(--secondery-font-family);
  color: var(--brand-color);
  position: relative;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: capitalize;
  font-style: italic;
  letter-spacing: 2px;
  padding: 1rem 0 0.5rem 0;
}

.h4-heading--bb {
  margin-bottom: 1rem;
}

.h4-heading--bb::before {
  position: absolute;
  content: "";
  width: 65%;
  height: 3px;
  background-color: var(--brand-color);
  bottom: 0;

  @include viewport-md {
    width: 25%;
  }
}

.h5-heading {
  display: flex;
  align-items: center;
  position: relative;
  color: var(--brand-color);
  font-family: var(--secondery-font-family);
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0.5rem 0.5rem 1rem 1rem;

  @include viewport-md {
    padding: 0.5rem 0.5rem 1rem 0;
    font-weight: 700;
  }
}

.h5-heading--contact-color {
  text-transform: uppercase;
  color: var(--brand-color);
  font-weight: 700;
  padding: 0 0 1rem 1rem;
}

.h5-heading--small {
  font-weight: 600;
  padding: 0 0.5rem 0 0;

  @include viewport-md {
    padding: 0 0.5rem 0 0;
  }
}

.h5-heading--bold {
  font-weight: 700;
  color: var(--second-text-color);
}

.h5-heading--price {
  font-weight: 700;
  color: var(--brand-color);
}

.defoult-text {
  font-size: 0.9rem;
  line-height: 1.5;
  text-wrap: pretty;
  padding: 1rem 0;

  @include viewport-md {
    font-size: 1rem;
  }
}

.defoult-text--about:first-child {
  text-indent: 5px;
}

.defoult-text--bb {
  border-bottom: 1px solid #ddd;
}

.defoult-text--program-info {
  color: var(--second-text-color);
  width: 100%;
  text-indent: 5px;

  @include viewport-md {
    width: 80%;
  }
}

.defoult-text--footer {
  background-color: var(--white-color-opacity-85);
  padding: 1rem;
  border-top: 3px solid var(--brand-color);
  box-shadow: 0 0 3px #ddd;
  overflow: hidden;

  @include viewport-md {
    border-bottom-left-radius: var(--border-radius-base);
    border-bottom-right-radius: var(--border-radius-base);
  }
}
