:root {
  --primary-font-family: "Rubik", system-ui, sans-serif;
  --secondery-font-family: system-ui, sans-serif;
  --headerHeight: var(--headerHeight);
  --grid-unit: 1rem;
  --border-radius-base: 5px;
  --main-color: #f8f9fa;
  --white-color: #fff;
  --main-light-grey: #e9ecef;
  --main-text-color: #212529;
  --second-text-color: #4a4f5b;
  --brand-color: #b197fc;
  --gradient-background: linear-gradient(-120deg, #e599f7 5%, #e9ecef);
  --hero-gradient-background: linear-gradient(120deg, #b197fc 45%, #e599f7);
}

// #d7b46a;
// #4a4f5b

// #f8f9fa
// #e9ecef

// #343a40
// #212529

// #e599f7
// #b197fc
