:root {
  --primary-font-family: "Rubik", "Poppins", system-ui, sans-serif;
  --secondery-font-family: "Roboto", system-ui, sans-serif;
  --headerHeight: var(--headerHeight);
  --grid-unit: 1rem;
  --border-radius-base: 5px;
  --main-light-grey: #e9ecef;
  --main-light-grey-opacity: rgba(233, 236, 239, 0.7);
  --second-light-grey: #f8f9fa;
  --white-color: #fff;
  --white-color-opacity-85: rgba(255, 255, 255, 0.85);
  --white-color-opacity: rgba(255, 255, 255, 0.05);
  --main-text-color: #212529;
  --second-text-color: #4a4f5b;
  --brand-color: #8f74d3;
  --brand-color-opacity-90: rgb(143, 116, 211, 0.9);
  --bg-color-1: #d2c1ff;
  --bg-color-2: #cfbcff;
  --bg-color-opacity-1: rgba(210, 193, 255, 0.65);
  --bg-color-opacity-2: rgba(207, 188, 255, 0.65);
  --gradient-neutral-background: rgba(33, 37, 41, 0.02);
  --gradient-background: linear-gradient(
    45deg,
    #d2c1ff 45%,
    rgba(255, 255, 255, 0.01)
  );
  --gradient-background-2: linear-gradient(
    45deg,
    #d2c1ff -45%,
    rgba(255, 255, 255, 0.01)
  );
}

// #952373
// #A03A82
// #CB76AB
// #D840A0
// #E877A3
// #FFC1C7

// #d2c1ff;
// #bfdfff;

// #e599f7
// #b197fc
